## Last commit: 2026-09-19 04:12:07 UTC by netops
version 21.4R3.15;
system {
    host-name JUNIPER-TEST-02;

    root-authentication {
        encrypted-password "$6$testseed$Ux0nRqLpQ2mVkT8sYbHwCfZ1gJdNeAoIrXuP";
    }

    login {
        message "Authorized access only. All activity is monitored and recorded.";

        class ops-restricted {
            idle-timeout 10;
            permissions [ view view-configuration ];
        }

        user netops {
            uid 2001;
            class ops-restricted;
            authentication {
                encrypted-password "$6$testseed$Mb7kQwZzTvRs2LcXpAeHnUdFgYjOiKlW";
            }
        }

        user admin {
            uid 2000;
            class super-user;
            authentication {
                encrypted-password "$6$testseed$Pq9wErTyUiOpAsDfGhJkLzXcVbNmQwEr";
            }
        }
    }

    authentication-order [ radius password ];

    radius-server {
        192.0.2.30 {
            port 1812;
            secret "$9$testseedRadiusSharedKey";
        }
    }

    services {
        ssh {
            protocol-version v2;
            root-login deny;
            connection-limit 10;
        }

        telnet;

        web-management {
            http;
            https {
                system-generated-certificate;
            }
        }
    }

    syslog {
        host 192.0.2.20 {
            any notice;
            authorization info;
        }

        file messages {
            any notice;
        }
    }

    ntp {
        authentication-key 1 type sha256 value "$9$testseedNtpSharedKey";
        trusted-key [ 1 ];
        server 192.0.2.10 key 1;
    }
}

snmp {
    community public {
        authorization read-only;
    }

    community private {
        authorization read-write;
    }
}

interfaces {
    ge-0/0/0 {
        description "WAN Interface";
        unit 0 {
            family inet {
                address 203.0.113.2/30;
            }
        }
    }

    ge-0/0/1 {
        description "LAN Interface";
        unit 0 {
            family inet {
                address 192.168.20.1/24;
            }
        }
    }
}

routing-options {
    static {
        route 0.0.0.0/0 next-hop 203.0.113.1;
    }
}

protocols {
    ospf {
        area 0.0.0.0 {
            interface ge-0/0/1.0;
        }
    }

    lldp {
        interface all;
    }
}

firewall {
    family inet {
        filter PROTECT-RE {
            term ALLOW-MGMT {
                from {
                    source-address {
                        192.168.20.0/24;
                    }
                    protocol tcp;
                    destination-port ssh;
                }
                then accept;
            }

            term DEFAULT-DROP {
                then discard;
            }
        }
    }
}

security {
    policies {
        from-zone trust to-zone untrust {
            policy allow-all {
                match {
                    source-address any;
                    destination-address any;
                    application any;
                }
                then {
                    permit;
                }
            }
        }
    }
}
