# config-version=FG100F-7.0.5-FW-build0304-220124:opmode=nat:vdom=root:0
# conf_file_ver=2148283460830761901
# buildno=0304
# global_vdom=1
config system global
    set hostname "BRANCH-FGT-02"
    set admintimeout 5
    set admin-ssh-v1 disable
    set pre-login-banner enable
    set gui-theme mariner
end
config system settings
    set opmode nat
    set ip-src-routing disable
    set ssl-min-proto-ver tls1-2
end
config system interface
    edit "wan1"
        set vdom "root"
        set ip 198.51.100.20 255.255.255.248
        set allowaccess ping
        set type physical
        set lldp-transmission disable
        set role wan
        set snmp-index 1
    next
    edit "internal"
        set vdom "root"
        set ip 10.10.20.1 255.255.255.0
        set allowaccess ping https ssh
        set type physical
        set role lan
        set snmp-index 2
    next
end
config system snmp sysinfo
    set status enable
end
config system snmp community
    purge
end
config system snmp user
    edit "snmpadmin"
        set status enable
        set notify-hosts 10.10.20.50
        set security-level auth-priv
        set auth-proto sha256
        set auth-pwd "Str0ngAuthP@ssw0rd!"
        set priv-proto aes256
        set priv-pwd "Str0ngPrivP@ssw0rd!"
    next
end
config log syslogd setting
    set status enable
    set server "10.10.20.100"
    set port 514
end
config system ntp
    set ntpsync enable
    set type custom
    set authentication enable
    config ntpserver
        edit 1
            set server "10.0.0.1"
            set key-id 1
        next
    end
    config ntp-keys
        edit 1
            set key "ntpauthkeysecret123"
        next
    end
end
config vpn ipsec phase1-interface
    edit "vpn-to-hq"
        set interface "wan1"
        set peertype any
        set net-device disable
        set proposal aes256-sha256
        set dhgrp 14 19
        set remote-gw 198.51.100.30
        set psksecret "Str0ngVPNP@ssw0rd!"
    next
end
config firewall policy
    edit 1
        set name "Internet-Access"
        set srcintf "internal"
        set dstintf "wan1"
        set srcaddr "all"
        set dstaddr "all"
        set action accept
        set schedule "always"
        set service "HTTP" "HTTPS" "DNS" "PING"
        set logtraffic all
        set utm-status enable
        set av-profile "default"
        set webfilter-profile "default"
        set ips-sensor "default"
        set application-list "default"
        set ssl-ssh-profile "certificate-inspection"
        set nat enable
    next
end
